<h1> <%=@post.title%> </h1>
<p> <%=@post.content%> </p>

<form name= 'commentbox' action= "/comment/create" method= "post">

  <textarea cols=60 rows=12 placeholder='Post Comment (Be nice)' name='content'></textarea>
  <input type=hidden name="post_id" value="<%=@post.id%>">
  <br>
  <input type=submit value="submit"/>
</form>

<h4> Comments: </h4>

<% @comments.each do |comment| %>
  <% user = User.find_by_id(comment.user_id)%>
  <form action="/posts/comments/vote" method="post">
  <h5><input type= "submit" name="commentvote_count"value="<%=comment.commentvote_count%>">
         <input type= "hidden" name="comment_id" value='<%=comment.id%>'>
    -- <%=user.username%></h5>
  </form>
  <p><%=comment.content%></p>
<% end %>

